.toolbar-container{
    display: flex;
    margin-bottom: 0rem;
    width: 100%;
    height: 6rem;
    font-size: 1.8rem;
}

.view-container{
    display:flex;
    margin-bottom: 0.9rem;
    width: 50%;
    height: 25rem;
    font-size: 1.8rem;
    background-color: #A8B1BB;
    /* flex-direction: row; */
    justify-content: space-between;
}
.slide-show{
    display:flex;
    margin-bottom: 0.9rem;
    width: 100%;
    height: 13rem;
    font-size: 1.8rem;
    color: #56a5eb;
    background-color: #242525;
    /* flex-direction: row; */
    justify-content: space-between;
}
.photo-view{
    display: flex;
}
.upload-text{
    padding-left: 5rem;
}

#toolbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.toolbar-prefix{
    color: #56a5eb;
    text-align: center;
    font-size: 2rem;
}

.cursor {
    cursor: pointer;
}





  
  